<h1>Welcome to the home page</h1>
<h2>Change to snippet</h2>

<div id='home_content' class="example_snippet" data-mercury="full">
  <%= TextChunk.find_by_name('homepage/content').text_chunk.html_safe %>
</div>
